h1{
    color: white;
}
body{
    background-color: black;
}
#d1{
    background-color: rgb(146, 135, 241);
    width: 70px;
    height: 120px;
    margin-left: 200px;
    margin-top: 50px;
}
#d2{
    background-color: rgb(69, 59, 204);
    width: 70px;
    height: 120px;
    margin-left: 273px;
    margin-top: -120px;
}
#d3{
    background-color: rgb(71, 32, 177);
    width: 70px;
    height: 120px;
    margin-left: 346px;
    margin-top: -120px;
}
#d4{
    background-color: rgb(42, 18, 129);
    width: 70px;
    height: 120px;
    margin-left: 419px;
    margin-top: -120px;
}

#d5{
    background-color: rgb(11, 4, 71);
    width: 70px;
    height: 120px;
    margin-left: 492px;
    margin-top: -120px;
}

#d11{
    background-color: rgb(148, 8, 167);
    width: 70px;
    height: 120px;
    margin-left: 127px;
    margin-top: 13px;
}
#d12{
    background-color: rgb(72, 6, 126);
    width: 70px;
    height: 120px;
    margin-left: 200px;
    margin-top: -120px;
}
#d13{
    background-color: rgb(43, 33, 180);
    width: 70px;
    height: 120px;
    margin-left: 273px;
    margin-top: -120px;
}
#d14{
    background-color: rgb(72, 170, 53);
    width: 70px;
    height: 120px;
    margin-left: 346px;
    margin-top: -120px;
}
#d15{
    background-color: rgb(229, 243, 39);
    width: 70px;
    height: 120px;
    margin-left: 419px;
    margin-top: -120px;
}
#d16{
    background-color: rgb(245, 111, 33);
    width: 70px;
    height: 120px;
    margin-left: 492px;
    margin-top: -120px;
}
#d17{
    background-color: rgb(241, 12, 12);
    width: 70px;
    height: 120px;
    margin-left: 565px;
    margin-top: -120px;
}


#d21{
    background-color: rgb(105, 15, 15);
    width: 70px;
    height: 120px;
    margin-left: 127px;
    margin-top: 13px;
}
#d22{
    background-color: rgb(119, 22, 22);
    width: 70px;
    height: 120px;
    margin-left: 200px;
    margin-top: -120px;
}
#d23{
    background-color:rgb(153, 28, 28);
    width: 70px;
    height: 120px;
    margin-left: 273px;
    margin-top: -120px;
}
#d24{
    background-color:brown;
    width: 70px;
    height: 120px;
    margin-left: 346px;
    margin-top: -120px;
}
#d25{
    background-color: rgb(219, 78, 78);
    width: 70px;
    height: 120px;
    margin-left: 419px;
    margin-top: -120px;
}
#d26{
    background-color: rgb(223, 101, 101);
    width: 70px;
    height: 120px;
    margin-left: 492px;
    margin-top: -120px;
}
#d27{
    background-color: rgb(233, 135, 135);
    width: 70px;
    height: 120px;
    margin-left: 565px;
    margin-top: -120px;
}
#d28{
    background-color:rgb(49, 2, 2);
    width: 70px;
    height: 120px;
    margin-left: 54px;
    margin-top: -120px;
}
#d29{
    background-color: rgb(230, 162, 162);
    width: 70px;
    height: 120px;
    margin-left: 638px;
    margin-top: -120px;
}







